.page-header {
    @include font-logo-title();
}


.cart-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-link {
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 45px;
    height: 30px;
    content: "";
    display: inline-flex;
    background-image: url('./assets/images/cart-img.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 550px) {
        width: 40px;
        height: 27px;
    }
}

.cart-quantity {
    padding-left: 8px;
    color: $color-main;
    line-height: 112%;
}


.product-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 1px $color-main solid;

    &:last-child {
        border-bottom: 1px $color-main solid;
    }
}

.product-content {
    display: flex;
    gap: 2rem;
}

.product-image {
    width: 14.5rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-price {

    &::before {
        content: '$';
        padding-right: 0.5rem;
    }
}


.counter-button {
    width: 3rem;
    height: 3rem;
    content: '';
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.counter-container {
    display: flex;
    align-items: center;
    gap: 1rem
}

.count-down {
    background-image: url('./assets/images/counter_delete.svg');
}

.count-up {
    background-image: url('./assets/images/counter_add.svg');
}