$color-page-bg: #FDFBF8;
$color-card-bg: #FFFFFF;
$color-main: #4A2B10;
$color-accent: #A76029;
$color-aux: #776353;
$color-aux_opacity: rgba(119, 99, 83, 0.5);
$color-box-active: #FFC700;
$color-btn-active: rgba(167, 96, 41, 0.7);
$color-inCart: #148025;
$color-outCart: #F62B2B;

body {
    margin: 0;
    padding: 0;
}