.range-input-container {
    position: relative;
}

.range-input {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 1rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    pointer-events: none;
}

input[type='range']::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;
    -webkit-appearance: none;
    pointer-events: auto;
    background: $color-main;
    border-radius: 50%;
    border: none;
}

input[type='range']::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
    border: none;
    -moz-appearance: none;
    pointer-events: auto;
    background: $color-main;
    border-radius: 50%;
}

.custom-range-container {
    position: relative;
    height: 1rem;
    border: 1px solid $color-main;
    border-radius: .5rem;
}

.dual-slider-container__text-values {
    @include font-main(2rem, 400, $color-accent);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    position: relative;

    &::before {
        position: absolute;
        content: '\27F7';
        width: 2rem;
        height: min-content;
        top: 0;
        left: calc(50% - 2rem);
    }
}