.side-panel {
    border-right: 1px solid $color-accent;
    padding-right: 1rem;
}

.search-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-input {
    border: 1.5px solid $color-aux;
    border-radius: 0.5rem;
    padding: 0.2rem;

    &:hover,
    &:focus {
        outline: none;
        border: 1.5px solid $color-accent;
    }
}

.search-input__label {
    width: 2rem;
    height: 2rem;
    background-image: url('./assets/images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
