.footer {
    background-image: url('./assets/images/bg-header-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content {
    display: flex;
    padding: 2.8rem 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 700px) {
        padding: 1.4rem 0;
    }
    @media screen and (max-width: 700px) {
        padding: 0.5rem 0;
    }
}

.authors-content {
    display: flex;
    align-items: center;
    gap: 1.8rem;

    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    @media screen and (max-width: 550px) {
        gap: 0rem;
    }

}

.git__link {
    display: flex;
    align-items: center;
    @include font-main(2rem, 400, $color-main, 165%);

    @media screen and (max-width: 550px) {
        font-size: 1.5rem;
    }
}

.git-logo {
    width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    background-image: url('./assets/images/git_logo.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 550px) {
        width: 2.5rem;
        height: 2.5rem;
    }

}

.rs-container {
    display: flex;
    align-items: center;
    gap: 11px;
    @include font-main(2rem, 700, $color-main, 90%);

    @media screen and (max-width: 550px) {
        gap: 5px;
    }

    @media screen and (max-width: 400px) {
        gap: 2.5px;
    }
}

.rs-logo {
    width: 8rem;
    height: 3.2rem;
    display: inline-flex;
    background-image: url('./assets/images/rs_school_logo.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 550px) {
        width: 6.5rem;
        height: 2.8rem;
    }

    @media screen and (max-width: 400px) {
        width: 5rem;
        height: 2rem;
    }
}

.flash {
    width: 1.85rem;
    height: 2.95rem;
    display: inline-flex;
    background-image: url('./assets/images/flash_footer.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 550px) {
        height: 1.95rem;
    }
}

.year {
    @media screen and (max-width: 550px) {
        font-size: 1.5rem;
    }
}