%burger-line {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    content: '';
    background: $color-main;
    border-radius: 2px;
}

.header {
    background-image: url('./assets/images/bg-header-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    padding: 1.2rem 0 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include font-main($size: 2.5rem, $weight: 400, $color: $color-main, $height: 127%);
}

.line-icon {
    width: 2.8rem;
    height: 4.0rem;
    display: inline-flex;
    background-image: url('./assets/images/lineLogo.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
}

.central-container {

    .logo-container {
        @media screen and (max-width: 450px) {
            width: 15rem;
        }
    }

    .logo-title {
        @include font-logo-title($size: 3.0rem, $color: $color-logo, $height: 110%);
        text-shadow: 0px 3px 1px rgba(167, 96, 41, 0.5);

        @media screen and (max-width: 550px) {
            @include font-logo-title($size: 2.5rem, $color: $color-logo, $height: 80%);
        }
    }

    .text-title-second {
        padding-left: 3rem;
        position: relative;

        &::before {
            display: inline-block;
            content: "";
            width: 3rem;
            background-image: url('./assets/images/flash.svg');
            background-size: contain;
            height: 3.7rem;
            position: absolute;
            top: 0.7rem;
            left: 0.2rem;

            @media screen and (max-width: 550px) {
                width: 2.2rem;
                height: 3rem;
                top: 0.4rem;
                left: 0.5rem;
            }
        }
    }

    .logo-lightning {
        width: 2.8rem;
        height: 4.0rem;
        display: inline-flex;
        background-image: url('./assets/images/flash.svg');
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    .main-nav {
        padding-top: 0.9rem;

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }

        @media screen and (max-width: 450px) {
           display: none;
        }

    }

    .nav-link {
        font-size: 2.6rem;
        color: $color-main;
        line-height: 127%;

        @media screen and (max-width: 550px) {
            font-size: 2.2rem;
            line-height: 100%;
        }
    }

    .nav-link_active {
        position: relative;

        &::after {
            display: inline-block;
            content: "";
            width: 9.0rem;
            background-image: url('./assets/images/wand_underline.svg');
            background-size: contain;
            height: 0.7rem;
            position: absolute;
            top: 3.0rem;
            left: -1.7rem;

            @media screen and (max-width: 550px) {
                width: 7rem;
                top: 2.5rem;
                left: -0.9rem;
            }
        }
    }
}

.burger-menu {
    width: 3.5rem;
    height: 0.4rem;
    margin: 1.3rem 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
    @extend %burger-line;

    &:before {
      @extend %burger-line;
      top: calc(50% - 9px);
      left: 0;
      transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: $color-main;
    }

    &:after {
      @extend %burger-line;
      bottom: -7px;
      left: 0;
      transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
      background-color: $color-main;
    }

}

.burger-menu_open {
    background: rgba(0,0,0,0);

    &::before {
        z-index: 2;
        top: calc(50% - 3px);
        transform: rotate(405deg);
        transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: $color-main;
    }

    &::after {
        z-index: 2;
        bottom: 0;
        transform: rotate(-405deg);
        transition: transform .5s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: $color-main;
    }
}