.line-wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 700px) {
        justify-content: center;;
    }

}

.line {
    padding: 5px 0;
    background-color: $color-main;
    @include font-logo-title($size: 1.6rem, $color: $color-page-bg, $height: 175%);
    font-weight: 400;
    text-transform: none;

    @media screen and (max-width: 550px) {
        @include font-logo-title($size: 1.4rem, $color: $color-page-bg, $height: 150%);
        text-transform: none;
    }
}

.line-welcome {
    display: inline-block;

    &::before {
        content: '';
        width: 30px;
        height: 28.71px;
        padding-right: 6px;
        display: inline-flex;
        vertical-align: middle;
        background-image: url('./assets/images/lineLogo.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 550px) {
            width: 20px;
            height: 24.71px;
            padding-right: 11px;
        }
    }

}

.line-description {
    display: inline-block;

    @media screen and (max-width: 700px) {
        display: none;
    }
}