.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card__title {
    @include font-main($weight: 600);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.trunk-btn {
    width: 4rem;
    height: 3rem;
    background: url('../images/trunk-icon.svg');
}
